// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "monaco-evk-common.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Monaco EVK";
	compatible = "qcom,monaco-evk", "qcom,qcs8300";

	/* This comes from a PMIC handled within the SAIL domain */
	vreg_s2s: vreg-s2s {
		compatible = "regulator-fixed";
		regulator-name = "vreg_s2s";

		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vreg_dcin_12v: regulator-dcin-12v {
		compatible = "regulator-fixed";

		regulator-name = "VREG_DCIN_12V";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;

		regulator-boot-on;
		regulator-always-on;
	};

	vreg_wcn_3p3: regulator-wcn-3p3 {
		compatible = "regulator-fixed";

		regulator-name = "VREG_WCN_3P3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		vin-supply = <&vreg_dcin_12v>;

		regulator-boot-on;
	};
};

&ethernet0 {
	phy-mode = "2500base-x";
	phy-handle = <&hsgmii_phy0>;

	pinctrl-0 = <&ethernet0_default>;
	pinctrl-names = "default";

	snps,mtl-rx-config = <&mtl_rx_setup>;
	snps,mtl-tx-config = <&mtl_tx_setup>;
	nvmem-cells = <&mac_addr0>;
	nvmem-cell-names = "mac-address";

	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		hsgmii_phy0: ethernet-phy@1c {
			compatible = "ethernet-phy-id004d.d101";
			reg = <0x1c>;
			reset-gpios = <&tlmm 31 GPIO_ACTIVE_LOW>;
			reset-assert-us = <11000>;
			reset-deassert-us = <70000>;
		};
	};

	mtl_rx_setup: rx-queues-config {
		snps,rx-queues-to-use = <4>;
		snps,rx-sched-sp;

		queue0 {
			snps,dcb-algorithm;
			snps,map-to-dma-channel = <0x0>;
			snps,route-up;
			snps,priority = <0x1>;
		};

		queue1 {
			snps,dcb-algorithm;
			snps,map-to-dma-channel = <0x1>;
			snps,route-ptp;
		};

		queue2 {
			snps,avb-algorithm;
			snps,map-to-dma-channel = <0x2>;
			snps,route-avcp;
		};

		queue3 {
			snps,avb-algorithm;
			snps,map-to-dma-channel = <0x3>;
			snps,priority = <0xc>;
		};
	};

	mtl_tx_setup: tx-queues-config {
		snps,tx-queues-to-use = <4>;

		queue0 {
			snps,dcb-algorithm;
		};

		queue1 {
			snps,dcb-algorithm;
		};

		queue2 {
			snps,avb-algorithm;
			snps,send_slope = <0x1000>;
			snps,idle_slope = <0x1000>;
			snps,high_credit = <0x3e800>;
			snps,low_credit = <0xffc18000>;
		};

		queue3 {
			snps,avb-algorithm;
			snps,send_slope = <0x1000>;
			snps,idle_slope = <0x1000>;
			snps,high_credit = <0x3e800>;
			snps,low_credit = <0xffc18000>;
		};
	};
};

&gpi_dma0 {
	status = "okay";
};

&gpi_dma1 {
	status = "okay";
};

&gpu {
	status = "okay";
};

&gpu_zap_shader {
	firmware-name = "qcom/qcs8300/a623_zap.mbn";
};

&i2c0 {
	status = "okay";

	bridge@4f {
		compatible = "lontium,lt8713sx";
		reg = <0x4f>;
		reset-gpios = <&expander5 6 GPIO_ACTIVE_LOW>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				lt8713sx_dp_in: endpoint {
					remote-endpoint = <&mdss_dp0_out>;
				};
			};

			port@1 {
				reg = <1>;

				lt8713sx_dp0_out: endpoint {
					remote-endpoint = <&dp0_connector_in>;
				};
			};

			port@2 {
				reg = <2>;

				lt8713sx_dp1_out: endpoint {
					remote-endpoint = <&dp1_connector_in>;
				};
			};
		};
	};
};

&i2c1 {
	pinctrl-0 = <&qup_i2c1_default>;
	pinctrl-names = "default";

	status = "okay";

	fan_controller: fan@18 {
		compatible = "ti,amc6821";
		reg = <0x18>;
		#pwm-cells = <2>;

		fan {
			pwms = <&fan_controller 40000 PWM_POLARITY_INVERTED>;
		};
	};

	eeprom0: eeprom@50 {
		compatible = "atmel,24c256";
		reg = <0x50>;
		pagesize = <64>;

		nvmem-layout {
			compatible = "fixed-layout";
			#address-cells = <1>;
			#size-cells = <1>;

			mac_addr0: mac-addr@0 {
				reg = <0x0 0x6>;
			};
		};
	};
};

&i2c15 {
	pinctrl-0 = <&qup_i2c15_default>;
	pinctrl-names = "default";

	status = "okay";

	expander0: gpio@38 {
		compatible = "ti,tca9538";
		reg = <0x38>;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupts-extended = <&tlmm 56 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&expander0_int>;
		pinctrl-names = "default";
	};

	expander1: gpio@39 {
		compatible = "ti,tca9538";
		reg = <0x39>;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupts-extended = <&tlmm 16 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&expander1_int>;
		pinctrl-names = "default";
	};

	expander2: gpio@3a {
		compatible = "ti,tca9538";
		reg = <0x3a>;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupts-extended = <&tlmm 95 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&expander2_int>;
		pinctrl-names = "default";
	};

	expander3: gpio@3b {
		compatible = "ti,tca9538";
		reg = <0x3b>;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupts-extended = <&tlmm 24 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&expander3_int>;
		pinctrl-names = "default";
	};

	expander4: gpio@3c {
		compatible = "ti,tca9538";
		reg = <0x3c>;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupts-extended = <&tlmm 96 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&expander4_int>;
		pinctrl-names = "default";
	};

	expander5: gpio@3d {
		compatible = "ti,tca9538";
		reg = <0x3d>;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupts-extended = <&tlmm 3 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&expander5_int>;
		pinctrl-names = "default";
	};

	expander6: gpio@3e {
		compatible = "ti,tca9538";
		reg = <0x3e>;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupts-extended = <&tlmm 52 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-0 = <&expander6_int>;
		pinctrl-names = "default";
	};
};

&iris {
	status = "okay";
};

&mdss {
	status = "okay";
};

&mdss_dp0 {
	pinctrl-0 = <&dp_hot_plug_det>;
	pinctrl-names = "default";

	status = "okay";
};

&mdss_dp0_out {
	data-lanes = <0 1 2 3>;
	link-frequencies = /bits/ 64 <1620000000 2700000000 5400000000 8100000000>;
	remote-endpoint = <&lt8713sx_dp_in>;
};

&mdss_dp0_phy {
	vdda-phy-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l4a>;

	status = "okay";
};

&pcie0 {
	pinctrl-0 = <&pcie0_default_state>;
	pinctrl-names = "default";

	status = "okay";
};

&pcie0_phy {
	vdda-phy-supply = <&vreg_l6a>;
	vdda-pll-supply = <&vreg_l5a>;

	status = "okay";
};

&pcie1 {
	pinctrl-0 = <&pcie1_default_state>;
	pinctrl-names = "default";

	status = "okay";
};

&pcie1_phy {
	vdda-phy-supply = <&vreg_l6a>;
	vdda-pll-supply = <&vreg_l5a>;

	status = "okay";
};

&pcieport0 {
	reset-gpios = <&tlmm 2 GPIO_ACTIVE_LOW>;
	wake-gpios = <&tlmm 0 GPIO_ACTIVE_LOW>;
};

&pcieport1 {
	reset-gpios = <&tlmm 23 GPIO_ACTIVE_LOW>;
	wake-gpios = <&tlmm 21 GPIO_ACTIVE_LOW>;
};

&pmm8620au_0_gpios {
	usb2_id: usb2-id-state {
		pins = "gpio9";
		function = "normal";
		input-enable;
		bias-pull-up;
		power-source = <0>;
	};
};

&qup_i2c0_data_clk {
	drive-strength = <2>;
	bias-pull-up;
};

&qupv3_id_0 {
	firmware-name = "qcom/qcs8300/qupv3fw.elf";
	status = "okay";
};

&qupv3_id_1 {
	firmware-name = "qcom/qcs8300/qupv3fw.elf";
	status = "okay";
};

&remoteproc_adsp {
	firmware-name = "qcom/qcs8300/adsp.mbn";

	status = "okay";
};

&remoteproc_cdsp {
	firmware-name = "qcom/qcs8300/cdsp0.mbn";

	status = "okay";
};

&remoteproc_gpdsp {
	firmware-name = "qcom/qcs8300/gpdsp0.mbn";

	status = "okay";
};

&sdhc_1 {
	vmmc-supply = <&vreg_l8a>;
	vqmmc-supply = <&vreg_s2s>;

	no-sd;
	no-sdio;
	non-removable;

	status = "okay";
};
