# SPDX-License-Identifier: GPL-2.0
#
# ARM Error Source Table Support
#
# Copyright (c) 2025, Alibaba Group.
#

config AEST
	tristate "ARM AEST Driver"
	depends on ACPI_AEST && RAS

	help
	  The Arm Error Source Table (AEST) provides details on ACPI
	  extensions that enable kernel-first handling of errors in a
	  system that supports the Armv8 RAS extensions.

	  If set, the kernel will report and log hardware errors.
